GLIDER_CONTROLPLANE_ARGS="--listen=0.0.0.0:8443 --cluster-id=CHANGE_ME --etcd-endpoints=https://etcd-1:2379,https://etcd-2:2379,https://etcd-3:2379 --tls-cert=/etc/glider/pki/controlplane.crt --tls-key=/etc/glider/pki/controlplane.key --client-ca=/etc/glider/pki/ca.crt --etcd-tls-cert=/etc/glider/pki/etcd-client.crt --etcd-tls-key=/etc/glider/pki/etcd-client.key --etcd-ca=/etc/glider/pki/etcd-ca.crt --etcd-tls-server-name=etcd.glider.internal --metrics-listen=0.0.0.0:9090 --dns-listen=0.0.0.0:53 --quota-tasks=10000 --quota-workloads=1000 --quota-services=1000 --quota-cpu-milli=1000000 --quota-memory-bytes=1125899906842624"
